# This is the systemd config I use for https://willnorris.com/api/imageproxy/
[Unit]
Description=Image Proxy

[Service]
User=www-data
ExecStart=/usr/local/bin/imageproxy \
    -addr localhost:4593 \
    -cache /var/cache/imageproxy \
    -signatureKey @/etc/imageproxy.key \
    -baseURL https://willnorris.com/ \
    -whitelist willnorris.com,notsoserendipitous.com,gabenorris.com
Restart=on-abort

[Install]
WantedBy=multi-user.target
