on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
name: tests
env:
  GO111MODULE: on

jobs:
  test:
    strategy:
      matrix:
        go-version:
          # support the two most recent major go versions
          - stable
          - oldstable
        platform: [ubuntu-latest]
        include:
          # minimum go version that works. This is not necessarily supported in
          # any way, and will be bumped up without notice as needed.  But it at
          # least lets us know what go version should work.
          - go-version: 1.23
            platform: ubuntu-latest

          # include windows, but only with the latest Go version, since there
          # is very little in the library that is platform specific
          - go-version: stable
            platform: windows-latest

          # only update test coverage stats with most recent go version on linux
          - go-version: stable
            platform: ubuntu-latest
            update-coverage: true
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Run go test
        run: go test -v -race -coverprofile coverage.txt -covermode atomic ./...

      - name: Upload coverage to Codecov
        if: ${{ matrix.update-coverage }}
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
